*{
    box-sizing: border-box;
    width: 0;
    padding: 0;
}

header{
    width: 100%;
    padding-left: 45vw;
    font-size: xx-large;
    padding-top: 5vw;
}

.btn-primary{
    width: 100px;
    height: 50px;
    font-size: large;

}
main{
    padding-left: 0vw;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
}